name: Lint

on:
    pull_request:

    workflow_dispatch:

permissions:
    contents: read

jobs:
    lint:
        if: contains(github.event.pull_request.labels.*.name, 'release') == false
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Setup Python
              uses: actions/setup-python@v6
              with:
                  python-version-file: '.python-version'

            - name: Install uv and dependencies
              run: |
                  curl -LsSf https://astral.sh/uv/install.sh | sh
                  uv sync --only-group=lint

            - name: Run Ruff
              run: uv run ruff check .

            - name: Run Pylint
              run: uv run pylint src
