name: Tests

on:
    pull_request:

    workflow_dispatch:

permissions:
    contents: read

jobs:
    test:
        if: contains(github.event.pull_request.labels.*.name, 'release') == false
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Setup Python
              uses: actions/setup-python@v6
              with:
                  python-version-file: '.python-version'

            - name: Setup uv
              uses: astral-sh/setup-uv@v7

            - name: Install dependencies
              run: uv sync --group=test

            - name: Run pytest
              run: uv run pytest --cov --cov-report=xml -v
